<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: black;">
    
    <h1 style="display: flex; justify-content: center; align-items: center; color: white;">
        UNDER CONSTRUCTION!!!
    </h1>

    {% if user.is_authenticated %}
        <h1 style='color: white;'>Logged as {{ user.username }}</h1>
    {% endif %}
    <button type='submit'>
        <a href='signout'>Sign Out</a>
    </button>
    

</body>
</html>
