{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d7273a6c7a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
</head>

<body>    

    <div class='wrapper'>
        <form action="{% url 'login' %}" method="POST">{% csrf_token %}
            <h1>Login</h1>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <li style="font-size: 15px; color: darkred; font-weight: bold; text-align: center; list-style-type: none;">{{ message }}</li>
                        {% elif message.tags == 'success' %}
                            <li style="font-size: 15px; color: green; font-weight: bold; text-align: center; list-style-type: none;">{{ message }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="input-box">
                <input type='email' placeholder='Email...' name='email'> 
                <i class="fa-solid fa-envelope"></i>
            </div>
            
            <div class="input-box">
                <input type="text" placeholder=" Username..." name="username">
                <i class="fa-solid fa-user"></i>
            </div>

            <div class="input-box">
                <input type="password" placeholder=" Senha..." name="password">
                <i class="fa-solid fa-lock"></i>
            </div>

            <div class="submit-btn">
                <input type="submit" value="Entrar">
            </div>

            <div class='cadastro'>
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <span style='margin-left: 10px; font-weight: 400; text-decoration: none;'>Esqueceu sua senha? <a href='{% url "password_reset" %}'>Recupere-a</a>
                    {% endif %}
                {% endfor %}
                <br>
                <span style='margin-left: 10px; font-weight: 400; text-decoration: none;'>Não tem uma conta?  <a href='/auth/cadastro/'>Registre-se</a>
            </div>
        </form>
    </div>
</body>
</html>
