<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
    <div class='form'></div>
        <form action="{% url 'login' %}" method="POST">{% csrf_token %}
            <input type="text" placeholder="Username..." name="username">
            <br>
            <input type="password" placeholder="Senha..." name="password">
            <br>
            <input type="submit" value="cadastrar">
        </form>
    
</body>
</html>
