{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d7273a6c7a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
    <title>Cadastro</title>
</head>
<body>
    
    <div class="wrapper">
        <form method="post">{% csrf_token %}
            <h1>Recupere sua senha</h1>
            {{ form.as_p }}
            <div class="input-box">
                <button type='submit'>Submit</button> 
            </div>
        </form>
    </div>

</body>
</html>